<H1>
  Create an Article
</H1>

<%= form_for @article do |a| %>
<p>
  <%= a.label :title %>
  <%= a.text_field :title %>
</p>
<p align='vtop'>
  <%= a.label :description %>
  <%= a.text_area :description %>
</p>
<p>
  <%= a.submit %>
</p>

<% end %>